<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<head>
    <title>행성수정-Planet Land</title>
</head>
<div layout:fragment="content">
    <div class="modal modal-signin position-static d-block bg-white" tabindex="0" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">행성 수정</h1>
                </div>

                <li class="modal-body p-5 pt-0" style="list-style:none;">
                    <form role="form" method="post" th:action="@{/planets/{planetId}/edit(planetId=${addPlanetDto.planetId})}"
                          th:object="${addPlanetDto}" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input type="text" th:field="*{planetName}" class="form-control rounded-3">
                            <label>행성이름</label>
                            <p class="text text-danger" th:if="${#fields.hasErrors('planetName')}"
                               th:errors="*{planetName}"></p>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" th:field="*{population}" class="form-control rounded-3">
                            <label>인구수</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" th:field="*{satellite}" class="form-control rounded-3">
                            <label>위성수</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" th:field="*{price}" class="form-control rounded-3">
                            <label>가격</label>
                        </div>
                        <input type="file" name="imgFile" id="imgFile" class="form-control rounded-3">
                        <br>
                        <div class="container text-center">
                            <div class="row">
                                <div th:each="status : ${planetStatuses}" class="col">
                                    <input type="radio" th:field="*{planetStatus}" th:value="${status.name()}" class="btn-check"
                                           name="options-outlined" autocomplete="off" checked>
                                    <label th:for="${#ids.prev('planetStatus')}" th:text="${status}" class="btn btn-outline-secondary">행성
                                        상태</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">수정</button>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn btn-outline-secondary" type="button" th:onclick="|location.href='@{/planets/{planetId}/detail(planetId=${addPlanetDto.planetId})}'|">취소</button>

                        <hr class="my-4">
                    </form>
            </div>
        </div>
    </div>
</div>

</html>
