<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">
<head>
    <title>회원가입-Planet Land</title>
</head>
<div layout:fragment="content">
    <div class="modal modal-signin position-static d-block bg-white" tabindex="0" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                    <h1 class="fw-bold mb-0 fs-2">회원가입</h1>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form class="signup" role="form" method="post" th:action="@{/join}" th:object="${userJoinDto}">
                        <div class="form-floating mb-3">
                            <input type="text" name="userName" th:field="*{userName}" class="form-control rounded-3">
                            <label>이름(닉네임)</label>
                            <p class="text text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Test</p>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" th:field="*{password}" class="form-control rounded-3">
                            <label>비밀번호</label>
                            <p class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Test</p>

                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" name="email"  th:field="*{email}" class="form-control rounded-3">
                            <label>이메일</label>
                            <p class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Test</p>

                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">회원가입</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

