<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">
<head>
    <title>Planet Land</title>
</head>
<div layout:fragment="content">
    <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 40rem; border-color: black;">
                    <img th:if="${planetDto.imgPath == null}" th:src="@{/images/repair.png}" height="300"
                         class="card-img-top">
                    <img th:src="${planetDto.imgPath}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${planetDto.planetName}">행성 이름</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <oi class="bg-primary" style="color:white"> 인구수
                            <li class="list-group-item" style="font-weight:bold" th:text="|${planetDto.population}명|">
                                population
                            </li>
                        </oi>
                        <oi class="bg-primary" style="color:white"> 가치
                            <li class="list-group-item" style="font-weight:bold" th:text="|${planetDto.value}원|">value
                            </li>
                        </oi>
                        <oi class="bg-primary" style="color:white"> 소유주
                            <li class="list-group-item" style="font-weight:bold" th:if="${planetDto.owner == null}">없음
                            </li>
                            <li class="list-group-item" style="font-weight:bold" th:unless="${planetDto.owner == null}"
                                th:text="${planetDto.owner}">owner
                            </li>
                        </oi>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary"
                                th:if="${#strings.equals(userName, planetDto.owner)}" data-bs-toggle="modal"
                                data-bs-target="#sellModal">
                            행성 판매
                        </button>
                        <button type="button" class="btn btn-danger"
                                th:if="${#authorization.expr('isAuthenticated()')}" data-bs-toggle="modal"
                                data-bs-target="#buyModal">
                            행성 구매
                        </button>
                        <button type="button" class="btn btn-secondary"
                                th:unless="${#authorization.expr('isAuthenticated()')}"
                                th:onclick="|location.href='@{/login}'|">
                            행성 구매
                        </button>
                        <button type="button" class="btn btn-outline-primary" sec:authorize="hasRole('ROLE_ADMIN')"
                                th:onclick="|location.href='@{/planets/{planetId}/edit(planetId=${planetDto.planetId})}'|">
                            행성 수정
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" sec:authorize="hasRole('ROLE_ADMIN')">행성 삭제
                        </button>

                        <div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="sellModalLabel">행성 판매</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="group" th:if="${#strings.equals(planetDto.planetStatus, 'SOLD_OUT')}">
                                        <div class="modal-body" th:text="|${planetDto.planetName} 행성을 판매 등록하시겠습니까?|">
                                            sell
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                    th:onclick="|location.href='@{/planets/{planetId}/sell(planetId=${planetDto.planetId})}'|"
                                                    class="btn btn-primary">판매 등록
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                            </button>
                                        </div>
                                    </div>
                                    <div class="group"
                                         th:unless="${#strings.equals(planetDto.planetStatus, 'SOLD_OUT')}">
                                        <div class="modal-body"
                                             th:text="|${planetDto.planetName} 행성은 이미 판매 등록된 행성입니다.|">
                                            sell
                                        </div>
                                        <div class="modal-body">
                                            판매 등록을 취소하시겠습니까?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                    th:onclick="|location.href='@{/planets/{planetId}/cancelSell(planetId=${planetDto.planetId})}'|"
                                                    class="btn btn-primary">등록 취소
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="buyModalLabel">행성 구매</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="group-1" th:if="${#strings.equals(userName, planetDto.owner)}">
                                        <div class="modal-body">
                                            이미 본인 소유에 행성입니다.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                닫기
                                            </button>
                                        </div>
                                    </div>
                                    <div class="group-1" th:unless="${#strings.equals(userName, planetDto.owner)}">
                                        <div class="group-2"
                                             th:if="${#strings.equals(planetDto.planetStatus, 'ON_SALE')}">
                                            <div class="modal-body" th:text="|${planetDto.planetName} 행성을 구매하시겠습니까?|">
                                                행성이름
                                            </div>
                                            <div class="modal-body" th:text="|행성가치: ${planetDto.value}원|">
                                                행성가치
                                            </div>
                                            <div class="modal-body" th:text="|내 잔고: ${userAsset}원|">
                                                잔고
                                            </div>
                                            <div class="modal-body" style="color: red"
                                                 th:unless="${userAsset > planetDto.value}">
                                                잔고가 부족합니다.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary"
                                                        th:if="${userAsset > planetDto.value}"
                                                        th:onclick="|location.href='@{/planets/{planetId}/buy(planetId=${planetDto.planetId})}'|">
                                                    구매
                                                </button>
                                                <button type="submit" class="btn btn-primary"
                                                        th:unless="${userAsset > planetDto.value}"
                                                        th:onclick="|location.href='@{/planets/{planetId}/buy(planetId=${planetDto.planetId})}'|"
                                                        disabled>
                                                    구매
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    취소
                                                </button>
                                            </div>
                                        </div>
                                        <div class="group-2"
                                             th:unless="${#strings.equals(planetDto.planetStatus, 'ON_SALE')}">
                                            <div class="modal-body"
                                                 th:text="|${planetDto.planetName} 행성은 판매 중인 행성이 아닙니다.|">
                                                행성이름
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    닫기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">행성 삭제</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" th:text="|${planetDto.planetName} 행성을 삭제하시겠습니까?|">
                                        delete
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                        </button>
                                        <button type="submit"
                                                th:onclick="|location.href='@{/planets/{planetId}/delete(planetId=${planetDto.planetId})}'|"
                                                class="btn btn-primary">삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    2 of 2
                </div>
            </div>
        </div>
    </div>
</div>
</html>
